<div class="flex-fill">
    <h4 class="mt-2">Appointments</h4>
    <ul class="appointment-list">
        <li class="appointment-list-entry">
            01.12.2019<span class="float-right">11:00</span><br/>
            Axa, agent Marc<br/>
            Phone call, 15 Min
        </li>
        <li class="appointment-list-entry">
            02.12.2019<span class="float-right">04:45</span><br/>
            Taxes office, agent Sophia<br/>
            Meeting, 30 Min
        </li>
        <li class="appointment-list-entry">
            09.12.2019<span class="float-right">13:00</span><br/>
            UniFr, UCD<br/>
            Presentation, 15 MIn
        </li>
    </ul>
</div>