<div class="flex-fill">
    <h4 class="mt-2">Profile</h4>
    <form class="form" id="form-profile">
        <div class="form-group">
            <label for="firstname">First name</label>
            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First name" />
        </div>
        <div class="form-group">
            <label for="lastname">Last name</label>
            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last name" />
        </div>
        <div class="form-group">
            <label for="email">E-Mail address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="E-Mail address" />
        </div>
        <div class="form-group">
            <label for="phone">Phone number</label>
            <input type="tel" class="form-control" id="phone" name="phone" placeholder="Phone number" />
        </div>
        <button type="submit" class="btn btn-outline-success">Save profile</button>
    </form>
</div>