<div class="flex-fill">
    <h6 class="mt-2">Schedule Meeting</h6>
    <h3 class="mt-2">All Insurance</h3>
    <form class="form">
        <div class="form-group">
            <label for="agent" class="d-none">Search agent</label>
            <input type="text" class="form-control" id="agent" name="agent" placeholder="Search agent" />
        </div>
    </form>
    <h6 class="mt-4">Available agents (B)</h6>
    <div class="agent-list agent-list-b">
        <div class="card">
            <h5 class="card-header">
                <img class="agent-image" src="res/images/agent.jpg" alt="" />
                Herwig Arko
                <span class="agent-toggle float-right"><i class="fa fa-user"></i></span>
            </h5>
            <div class="card-body agent-info-small">
                <table class="table agent-table">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="availability availability-none">Mon</th>
                        <th class="availability availability-none">Tue</th>
                        <th class="availability availability-some">Wed</th>
                        <th class="availability availability-some">Thu</th>
                        <th class="availability availability-all">Fri</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>08-10</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>10-12</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>13-15</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>15-17</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">
                <img class="agent-image" src="res/images/agent.jpg" alt="" />
                Iris Grüter
                <span class="agent-toggle float-right"><i class="fa fa-user"></i></span>
            </h5>
            <div class="card-body agent-info-small">
                <table class="table agent-table">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="availability availability-none">Mon</th>
                        <th class="availability availability-some">Tue</th>
                        <th class="availability availability-all">Wed</th>
                        <th class="availability availability-some">Thu</th>
                        <th class="availability availability-all">Fri</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>08-10</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>10-12</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>13-15</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>15-17</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">
                <img class="agent-image" src="res/images/agent.jpg" alt="" />
                Jamal Zakaria
                <span class="agent-toggle float-right"><i class="fa fa-user"></i></span>
            </h5>
            <div class="card-body agent-info-small">
                <table class="table agent-table">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="availability availability-none">Mon</th>
                        <th class="availability availability-all">Tue</th>
                        <th class="availability availability-none">Wed</th>
                        <th class="availability availability-some">Thu</th>
                        <th class="availability availability-none">Fri</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>08-10</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    <tr>
                        <td>10-12</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    <tr>
                        <td>13-15</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    <tr>
                        <td>15-17</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">
                <img class="agent-image" src="res/images/agent.jpg" alt="" />
                Julia Eigenmann
                <span class="agent-toggle float-right"><i class="fa fa-user"></i></span>
            </h5>
            <div class="card-body agent-info-small">
                <table class="table agent-table">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="availability availability-all">Mon</th>
                        <th class="availability availability-none">Tue</th>
                        <th class="availability availability-all">Wed</th>
                        <th class="availability availability-some">Thu</th>
                        <th class="availability availability-none">Fri</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>08-10</td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    <tr>
                        <td>10-12</td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    <tr>
                        <td>13-15</td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    <tr>
                        <td>15-17</td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">
                <img class="agent-image" src="res/images/agent.jpg" alt="" />
                Julian Coenen
                <span class="agent-toggle float-right"><i class="fa fa-user"></i></span>
            </h5>
            <div class="card-body agent-info-small">
                <table class="table agent-table">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="availability availability-none">Mon</th>
                        <th class="availability availability-some">Tue</th>
                        <th class="availability availability-all">Wed</th>
                        <th class="availability availability-all">Thu</th>
                        <th class="availability availability-none">Fri</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>08-10</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    <tr>
                        <td>10-12</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    <tr>
                        <td>13-15</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    <tr>
                        <td>15-17</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">
                <img class="agent-image" src="res/images/agent.jpg" alt="" />
                Max Power
                <span class="agent-toggle float-right"><i class="fa fa-user"></i></span>
            </h5>
            <div class="card-body agent-info-small">
                <table class="table agent-table">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="availability availability-all">Mon</th>
                        <th class="availability availability-some">Tue</th>
                        <th class="availability availability-all">Wed</th>
                        <th class="availability availability-some">Thu</th>
                        <th class="availability availability-none">Fri</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>08-10</td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    <tr>
                        <td>10-12</td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    <tr>
                        <td>13-15</td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    <tr>
                        <td>15-17</td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">
                <img class="agent-image" src="res/images/agent.jpg" alt="" />
                Salim Hermidas
                <span class="agent-toggle float-right"><i class="fa fa-user"></i></span>
            </h5>
            <div class="card-body agent-info-small">
                <table class="table agent-table">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="availability availability-none">Mon</th>
                        <th class="availability availability-all">Tue</th>
                        <th class="availability availability-all">Wed</th>
                        <th class="availability availability-some">Thu</th>
                        <th class="availability availability-none">Fri</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>08-10</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    <tr>
                        <td>10-12</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    <tr>
                        <td>13-15</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    <tr>
                        <td>15-17</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">
                <img class="agent-image" src="res/images/agent.jpg" alt="" />
                Urs Zimmermann
                <span class="agent-toggle float-right"><i class="fa fa-user"></i></span>
            </h5>
            <div class="card-body agent-info-small">
                <table class="table agent-table">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="availability availability-none">Mon</th>
                        <th class="availability availability-some">Tue</th>
                        <th class="availability availability-none">Wed</th>
                        <th class="availability availability-all">Thu</th>
                        <th class="availability availability-some">Fri</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>08-10</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    <tr>
                        <td>10-12</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    <tr>
                        <td>13-15</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>15-17</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>