<div class="flex-fill">
    <h4 class="mt-2">Schedule Meeting</h4>
    <form class="form">
        <div class="form-group">
            <label for="company" class="d-none">Search company</label>
            <input type="text" class="form-control" id="company" name="company" placeholder="Search company" />
        </div>
    </form>
    <h6 class="mt-4">Companies</h6>
    <ul class="company-list">
        <li class="company-list-entry">All Insurance</li>
        <li class="company-list-entry">AXA</li>
        <li class="company-list-entry">Die Mobiliar</li>
        <li class="company-list-entry">Dr. med. dent. Koenig</li>
        <li class="company-list-entry">PostFinacne</li>
        <li class="company-list-entry">Swisscom</li>
        <li class="company-list-entry">Ville de Fribourg</li>
        <li class="company-list-entry">Zurich Insurance</li>
    </ul>
</div>