<div class="flex-fill">
    <h6 class="mt-2">Schedule Meeting</h6>
    <h3 class="mt-2">All Insurance</h3>
    <form class="form">
        <div class="input-group">
            <label for="agent" class="d-none">Search agent</label>
            <input type="text" class="form-control" id="agent" name="agent" placeholder="Search agent" />
            <div class="input-group-append">
                <button id="clear-agent" class="btn btn-outline-secondary" type="button"><i class="fa fa-times"></i></button>
            </div>
        </div>
    </form>
    <h6 class="mt-4">Available agents (B)</h6>
    <div class="schedule-info schedule-info-b"><span><i class="fa fa-check"></i> Available</span>&nbsp;|&nbsp;<span><i class="fa fa-times"></i> Booked</span></div>
    <div class="agent-list agent-list-b mb-3">
        <div class="card">
            <h5 class="card-header">
                <img class="agent-image" src="res/images/agent.jpg" alt="" />
                <span class="agent-name">Herwig Arko</span>
                <span class="agent-toggle float-right"><i class="fa fa-user"></i></span>
            </h5>
            <div class="card-body agent-info-small">
                <table class="table agent-table">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="availability availability-none">Mon</th>
                        <th class="availability availability-none">Tue</th>
                        <th class="availability availability-some">Wed</th>
                        <th class="availability availability-some">Thu</th>
                        <th class="availability availability-all">Fri</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>08-10</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>10-12</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>13-15</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>15-17</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">
                <img class="agent-image" src="res/images/agent.jpg" alt="" />
                <span class="agent-name">Iris Grüter</span>
                <span class="agent-toggle float-right"><i class="fa fa-user"></i></span>
            </h5>
            <div class="card-body agent-info-small">
                <table class="table agent-table">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="availability availability-none">Mon</th>
                        <th class="availability availability-some">Tue</th>
                        <th class="availability availability-all">Wed</th>
                        <th class="availability availability-some">Thu</th>
                        <th class="availability availability-all">Fri</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>08-10</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>10-12</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>13-15</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>15-17</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">
                <img class="agent-image" src="res/images/agent.jpg" alt="" />
                <span class="agent-name">Jamal Zakaria</span>
                <span class="agent-toggle float-right"><i class="fa fa-user"></i></span>
            </h5>
            <div class="card-body agent-info-small">
                <table class="table agent-table">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="availability availability-none">Mon</th>
                        <th class="availability availability-all">Tue</th>
                        <th class="availability availability-none">Wed</th>
                        <th class="availability availability-some">Thu</th>
                        <th class="availability availability-none">Fri</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>08-10</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    <tr>
                        <td>10-12</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    <tr>
                        <td>13-15</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    <tr>
                        <td>15-17</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">
                <img class="agent-image" src="res/images/agent.jpg" alt="" />
                <span class="agent-name">Julia Eigenmann</span>
                <span class="agent-toggle float-right"><i class="fa fa-user"></i></span>
            </h5>
            <div class="card-body agent-info-small">
                <table class="table agent-table">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="availability availability-all">Mon</th>
                        <th class="availability availability-none">Tue</th>
                        <th class="availability availability-all">Wed</th>
                        <th class="availability availability-some">Thu</th>
                        <th class="availability availability-none">Fri</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>08-10</td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    <tr>
                        <td>10-12</td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    <tr>
                        <td>13-15</td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    <tr>
                        <td>15-17</td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">
                <img class="agent-image" src="res/images/agent.jpg" alt="" />
                <span class="agent-name">Julian Coenen</span>
                <span class="agent-toggle float-right"><i class="fa fa-user"></i></span>
            </h5>
            <div class="card-body agent-info-small">
                <table class="table agent-table">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="availability availability-none">Mon</th>
                        <th class="availability availability-some">Tue</th>
                        <th class="availability availability-all">Wed</th>
                        <th class="availability availability-all">Thu</th>
                        <th class="availability availability-none">Fri</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>08-10</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    <tr>
                        <td>10-12</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    <tr>
                        <td>13-15</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    <tr>
                        <td>15-17</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">
                <img class="agent-image" src="res/images/agent.jpg" alt="" />
                <span class="agent-name">Max Power</span>
                <span class="agent-toggle float-right"><i class="fa fa-user"></i></span>
            </h5>
            <div class="card-body agent-info-small">
                <table class="table agent-table">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="availability availability-all">Mon</th>
                        <th class="availability availability-some">Tue</th>
                        <th class="availability availability-all">Wed</th>
                        <th class="availability availability-some">Thu</th>
                        <th class="availability availability-none">Fri</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>08-10</td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    <tr>
                        <td>10-12</td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    <tr>
                        <td>13-15</td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    <tr>
                        <td>15-17</td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">
                <img class="agent-image" src="res/images/agent.jpg" alt="" />
                <span class="agent-name">Salim Hermidas</span>
                <span class="agent-toggle float-right"><i class="fa fa-user"></i></span>
            </h5>
            <div class="card-body agent-info-small">
                <table class="table agent-table">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="availability availability-none">Mon</th>
                        <th class="availability availability-all">Tue</th>
                        <th class="availability availability-all">Wed</th>
                        <th class="availability availability-some">Thu</th>
                        <th class="availability availability-none">Fri</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>08-10</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    <tr>
                        <td>10-12</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    <tr>
                        <td>13-15</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    <tr>
                        <td>15-17</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">
                <img class="agent-image" src="res/images/agent.jpg" alt="" />
                <span class="agent-name">Urs Zimmermann</span>
                <span class="agent-toggle float-right"><i class="fa fa-user"></i></span>
            </h5>
            <div class="card-body agent-info-small">
                <table class="table agent-table">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="availability availability-none">Mon</th>
                        <th class="availability availability-some">Tue</th>
                        <th class="availability availability-none">Wed</th>
                        <th class="availability availability-all">Thu</th>
                        <th class="availability availability-some">Fri</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>08-10</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    <tr>
                        <td>10-12</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-times"></i></td>
                    </tr>
                    <tr>
                        <td>13-15</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>15-17</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="schedule-info schedule-info-b"><span><i class="fa fa-check"></i> Available</span>&nbsp;|&nbsp;<span><i class="fa fa-times"></i> Booked</span></div>
    </div>
</div>