<div class="flex-fill">
    <h6 class="mt-2">Schedule Meeting</h6>
    <h3 class="mt-2">All Insurance</h3>
    <form class="form">
        <div class="form-group">
            <label for="agent" class="d-none">Search agent</label>
            <input type="text" class="form-control" id="agent" name="agent" placeholder="Search agent" />
        </div>
    </form>
    <h6 class="mt-4">Available agents (B)</h6>
    <div class="agent-list">
        <div class="card">
            <h5 class="card-header">
                <img class="agent-image" src="res/images/agent.jpg" alt="" />
                Salim Hermidas
                <span class="agent-toggle float-right"><i class="fa fa-user"></i></span>
            </h5>
            <div class="card-body agent-info-small">
                <span class="availability availability-none">Mon</span> | <span class="availability availability-all">Tue</span> | <span class="availability availability-all">Wed</span> | <span class="availability availability-some">Thu</span> | <span class="availability availability-none">Fri</span>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">
                <img class="agent-image" src="res/images/agent.jpg" alt="" />
                Herwig Arko
                <span class="agent-toggle float-right"><i class="fa fa-user"></i></span>
            </h5>
            <div class="card-body agent-info-small">
                <span class="availability availability-none">Mon</span> | <span class="availability availability-none">Tue</span> | <span class="availability availability-some">Wed</span> | <span class="availability availability-some">Thu</span> | <span class="availability availability-all">Fri</span>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">
                <img class="agent-image" src="res/images/agent.jpg" alt="" />
                Andreas Imsand
                <span class="agent-toggle float-right"><i class="fa fa-user"></i></span>
            </h5>
            <div class="card-body agent-info-small">
                <span class="availability availability-none">Mon</span> | <span class="availability availability-some">Tue</span> | <span class="availability availability-all">Wed</span> | <span class="availability availability-some">Thu</span> | <span class="availability availability-none">Fri</span>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">
                <img class="agent-image" src="res/images/agent.jpg" alt="" />
                Julia Eigenmann
                <span class="agent-toggle float-right"><i class="fa fa-user"></i></span>
            </h5>
            <div class="card-body agent-info-small">
                <span class="availability availability-all">Mon</span> | <span class="availability availability-none">Tue</span> | <span class="availability availability-all">Wed</span> | <span class="availability availability-some">Thu</span> | <span class="availability availability-none">Fri</span>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">
                <img class="agent-image" src="res/images/agent.jpg" alt="" />
                Jamal Zakaria
                <span class="agent-toggle float-right"><i class="fa fa-user"></i></span>
            </h5>
            <div class="card-body agent-info-small">
                <span class="availability availability-none">Mon</span> | <span class="availability availability-all">Tue</span> | <span class="availability availability-none">Wed</span> | <span class="availability availability-some">Thu</span> | <span class="availability availability-none">Fri</span>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">
                <img class="agent-image" src="res/images/agent.jpg" alt="" />
                Urs Zimmermann
                <span class="agent-toggle float-right"><i class="fa fa-user"></i></span>
            </h5>
            <div class="card-body agent-info-small">
                <span class="availability availability-none">Mon</span> | <span class="availability availability-some">Tue</span> | <span class="availability availability-none">Wed</span> | <span class="availability availability-all">Thu</span> | <span class="availability availability-some">Fri</span>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">
                <img class="agent-image" src="res/images/agent.jpg" alt="" />
                Max Power
                <span class="agent-toggle float-right"><i class="fa fa-user"></i></span>
            </h5>
            <div class="card-body agent-info-small">
                <span class="availability availability-all">Mon</span> | <span class="availability availability-some">Tue</span> | <span class="availability availability-all">Wed</span> | <span class="availability availability-some">Thu</span> | <span class="availability availability-none">Fri</span>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">
                <img class="agent-image" src="res/images/agent.jpg" alt="" />
                Iris Grüter
                <span class="agent-toggle float-right"><i class="fa fa-user"></i></span>
            </h5>
            <div class="card-body agent-info-small">
                <span class="availability availability-none">Mon</span> | <span class="availability availability-some">Tue</span> | <span class="availability availability-all">Wed</span> | <span class="availability availability-some">Thu</span> | <span class="availability availability-all">Fri</span>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">
                <img class="agent-image" src="res/images/agent.jpg" alt="" />
                Julian Coenen
                <span class="agent-toggle float-right"><i class="fa fa-user"></i></span>
            </h5>
            <div class="card-body agent-info-small">
                <span class="availability availability-none">Mon</span> | <span class="availability availability-some">Tue</span> | <span class="availability availability-all">Wed</span> | <span class="availability availability-all">Thu</span> | <span class="availability availability-none">Fri</span>
            </div>
        </div>
    </div>
</div>