<div class="flex-fill">
    <h4 class="mt-2">Settings</h4>
    <form class="form" id="form-settings">
        <div class="form-group check">
            <input type="checkbox" class="form-check-input" id="public-firstname" name="public-firstname">
            <label class="form-check-label" for="public-firstname">Show first name</label>
        </div>
        <div class="form-group check">
            <input type="checkbox" class="form-check-input" id="public-lastname" name="public-lastname">
            <label class="form-check-label" for="public-lastname">Show last name</label>
        </div>
        <div class="form-group check">
            <input type="checkbox" class="form-check-input" id="public-email" name="public-email">
            <label class="form-check-label" for="public-email">Show E-Mail address</label>
        </div>
        <div class="form-group check">
            <input type="checkbox" class="form-check-input" id="public-phone" name="public-phone">
            <label class="form-check-label" for="public-phone">Show phone number</label>
        </div>
        <button type="submit" class="btn btn-outline-success">Save settings</button>
    </form>
</div>